@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Base Colors */
    --color-background: white;
    --color-foreground: oklch(0.2 0 0);

    /* Primary Theme */
    --color-primary: oklch(0.637 0.191 278.358);
    --color-primary-foreground: white;
    --color-primary-surface: oklch(0.962 0.018 272.314);
    --color-primary-surface-foreground: oklch(0.368 0.11 277.394);

    /* Secondary Theme */
    --color-secondary: oklch(0.72 0.17 236.62);
    --color-secondary-foreground: white;
    --color-secondary-surface: oklch(0.977 0.013 236.62);
    --color-secondary-surface-foreground: oklch(0.46 0.09 236.62);

    /* Surface & Contents */
    --color-surface: oklch(0.985 0 0);
    --color-surface-foreground: oklch(0.2 0 0);
    --color-surface-muted: oklch(0.92 0 0);
    --color-surface-muted-foreground: oklch(0.4 0 0);

    /* Status Colors */
    --color-error: oklch(0.6 0.2 25);
    --color-error-foreground: white;
    --color-success: oklch(0.6 0.2 145);
    --color-success-foreground: white;

    /* System */
    --color-border: oklch(0.92 0 0);
    --color-ring: oklch(0.637 0.191 278.358 / 0.5);

    /* Fonts */
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
